/* Footer Styles */
.footer {
  background-color: rgb(118, 160, 206);
  color: white;
  padding: 5rem; /* Increase padding for more space */
  text-align: center;

}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;

}

.footer-info {
  margin-bottom: 1.5rem; /* Increase bottom margin */
  font-size: 1.125rem; /* Increase font size */
}

.footer-description {
  font-size: 1rem; /* Increase the description font size */
  color: #000000; /* Change color for better contrast */
}

.footer-links {
  margin-bottom: 1.5rem; /* Increase bottom margin */
  
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.footer-links li {
  display: inline;
  margin: 0 1rem; /* Increase the spacing between links */
}

.footer-links a {
  color: #000000;
  font-size: 1.125rem; /* Increase link font size */
  text-decoration: none;
}
p{
  font-weight: bolder;
  color: rgb(172, 65, 65);
}
.footer-links a:hover {
  text-decoration: underline;
}

.footer-social {
  margin-top: 1.5rem; /* Increase top margin */
}

.social-icon {
  font-size: 2rem; /* Increase icon size */
  margin: 0 0.75rem; /* Increase spacing between social icons */
  color: #e3e62a;
  text-decoration: none;
}

.social-icon:hover {
  color: #fff;
}
